<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="/css/master.css">
</head>

<body>
  <!-- <section class="transition loginHolder">
    <div class="login borderRadius shadows transition">
      <h1>Kies een username en kleur</h1>
      <form class="loginForm" action="index.html" method="post">
        <input type="text" name="name" placeholder="Naampie">
        <button type="button" name="button">Chat</button>
        <% colors.forEach(function(color){ %>
        <a href="<%=color.hex %>" class="colorOption" style="background-color: <%=color.hex %>">
        </a>
        <% }) %>
      </form>
    </div>
  </section> -->

  <section class=" transition chat_holder">


    <ul id="messages" class="borderRadius"></ul>
    <form id="form" class="borderRadius" action="">
      <input class="borderRadius" id="m" autocomplete="off" /><button class="borderRadius" id="button">Send</button>
    </form>

  </section>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/js/socketScript.js"></script>
</body>

</html>